{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{$ load media}

{% block extra_css %}
  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- Menu Stylesheet File -->
  <link href="{% static 'css/menu.css' %}" rel="stylesheet">

  {% block more_css %}{% endblock %}
{% endblock %}

{% block content %}

      <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!--<h1><img src="{% get_media_prefix %}/images/Picture1.max-165x165.png"></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/"><img src="{% static 'images/Picture1.max-165x165.png' %}" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="#services">Technology</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="#portfolio">Shop</a></li>
          <li><a href="/contact-us">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  {% block extra_content %}{% endblock %}  

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NIXX INC</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock %}


{% block extra_js %}
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% get_static_prefix %}lib/jquery/jquery.min.js"></script>
  <script src="{% get_static_prefix %}lib/jquery/jquery-migrate.min.js"></script>
  <script src="{% get_static_prefix %}lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{% get_static_prefix %}lib/easing/easing.min.js"></script>
  <script src="{% get_static_prefix %}lib/superfish/hoverIntent.js"></script>
  <script src="{% get_static_prefix %}lib/superfish/superfish.min.js"></script>
  <script src="{% get_static_prefix %}lib/wow/wow.min.js"></script>
  <script src="{% get_static_prefix %}lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="{% get_static_prefix %}lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="{% get_static_prefix %}lib/sticky/sticky.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% get_static_prefix %}contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="{% get_static_prefix %}js/main.js"></script>

  {% block more_js %}{% endblock %}
  {% endblock %}


